.colorPicker {
  position: relative;
}

.colorPickerModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 150px;
  background-color: hsl(0, 0%, 80%);
  padding: 20px;
  z-index: 30;
  border-radius: 25px;
}

.hueSelector {
  width: 200px;
  height: 20px;
  background: linear-gradient(
      to right,
      hsl(0, 100%, 50%) 0%,
      hsl(60, 100%, 50%) 17%,
      hsl(120, 100%, 50%) 33%,
      hsl(180, 100%, 50%) 50%,
      hsl(240, 100%, 50%) 67%,
      hsl(300, 100%, 50%) 83%,
      hsl(360, 100%, 50%) 100%
    )
    repeat scroll 0% 0%;
  margin-bottom: 15px;
}

.SLSelectorWrapper {
  position: relative;
  width: 200px;
  height: 200px;
  margin-bottom: 15px;
}

.SLSelector {
  position: absolute;
  inset: 0px;
  width: 200px;
  height: 200px;
}

.toRightGradient {
  position: absolute;
  inset: 0px;
  background: linear-gradient(
      to right,
      rgb(255, 255, 255),
      rgba(255, 255, 255, 0)
    )
    repeat scroll 0% 0%;
}

.toTopGradient {
  position: absolute;
  inset: 0px;
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0)) repeat
    scroll 0% 0%;
}

.button {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.label {
  display: inline-block;
  margin-right: 10px;
}

.mdoalOpenBtnDiv {
  display: flex;
  align-items: center;
  margin: 10px auto;
  padding: 5px;
}

.colorPickerBtnDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.colorPickerBtn {
  width: 70px;
  height: 30px;
  margin: 0px 10px;
  outline: none;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.confirmBtn {
  composes: colorPickerBtn;
  background-color: hsl(125, 50%, 50%);
}

.cancelBtn {
  composes: colorPickerBtn;
  background-color: hsl(0, 50%, 50%);
}
