.colorPicker {
  position: relative;
}

.colorPickerModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 150px;
  background-color: hsl(0, 0%, 80%);
  padding: 20px;
  z-index: 30;
}

.hueSelector {
  width: 200px;
  height: 20px;
  background: linear-gradient(
      to right,
      hsl(0, 100%, 50%) 0%,
      hsl(60, 100%, 50%) 17%,
      hsl(120, 100%, 50%) 33%,
      hsl(180, 100%, 50%) 50%,
      hsl(240, 100%, 50%) 67%,
      hsl(300, 100%, 50%) 83%,
      hsl(360, 100%, 50%) 100%
    )
    repeat scroll 0% 0%;
  margin-bottom: 15px;
}

.SLSelectorWrapper {
  position: relative;
  width: 200px;
  height: 200px;
  margin-bottom: 15px;
}

.SLSelector {
  position: absolute;
  inset: 0px;
  width: 200px;
  height: 200px;
}

.toRightGradient {
  position: absolute;
  inset: 0px;
  background: linear-gradient(
      to right,
      rgb(255, 255, 255),
      rgba(255, 255, 255, 0)
    )
    repeat scroll 0% 0%;
}

.toTopGradient {
  position: absolute;
  inset: 0px;
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0)) repeat
    scroll 0% 0%;
}
