.item {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.selected {
  border: 3px blue dashed;
  resize: both;
}

.text {
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  resize: none !important;
}

.resizeBtn {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid black;
  background: white;
  cursor: se-resize;
}
