.itemsListContainer {
  flex: 1 1 250px;
  position: sticky;
  top: 25%;
  left: 20px;
  width: 250px;
  height: 500px;
  z-index: 10;
  background-color: #eee;
}

.buttons {
  height: 100px;
}

.itemsList {
  overflow: auto;
  height: 350px;
  list-style: none;
  padding: 0;
}
