.item {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.inputBox {
  width: 100%;
}

.input {
  width: 100%;
  box-sizing: border-box;
}

.selected {
  border: 3px blue dashed;
  resize: both;
}

.resizeBtn {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid black;
  background: white;
  cursor: se-resize;
}
