.listItem {
  cursor: pointer;
}

.text:hover {
  background-color: hsl(0, 0%, 70%);
}

.ul {
  width: 100%;
  list-style: none;
  padding-left: 10px;
}

.selected {
  background-color: hsl(0, 0%, 70%);
}
