.listItem {
  cursor: pointer;
  width: 100%;
  height: 50px;
  padding: 5px;
  text-overflow: ellipsis;
  border: none;
  background-color: hsl(0, 0%, 70%);
  color: white;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
}

.listItem:hover {
  background-color: hsl(0, 0%, 40%);
}

.ul {
  width: 100%;
  list-style: none;
  padding-left: 10px;
}

.selected {
  background-color: hsl(0, 0%, 40%);
}
