.zoom {
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 10px auto;
}

.label {
  flex: 5 50px;
  width: 50px;
  display: inline-block;
  margin-right: 20px;
}

.input {
  flex: 5 100px;
  height: 30px;
  border: none;
  padding: 0;
  padding-left: 8px;
  width: 100px;
}

.input:focus {
  outline: 1px solid blue;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input[type='number'] {
  -moz-appearance: textfield;
}

.button {
  flex: 1 30px;
  background-color: hsl(0, 0%, 60%);
  border: none;
  width: 30px;
  height: 30px;
  font-weight: bold;
  padding: 0;
}

button:focus {
  outline: 1px solid blue;
}
